<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= title %> </h1>
    <div class="page-data">
        <div class="data-table">
            <table class="center">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>

                <% 
                if(data.length){
for(var i = 0;i < data.length;i++) { %>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td>
                        <a class="a-inside edit" href="/user/view/<%=data[i].id%>">Ver</a>
                        <a class="a-inside edit" href="/user/edit/<%=data[i].id%>/edit">Editar</a>
                        <a class="a-inside delete" href="/user/delete/<%=data[i].id%>/delete">Deletar</a>
                    </td>
                </tr>
                <% }
}else{ %>
                <tr>
                    <td colspan="6">Nenhum usuário</td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>

</html>